<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= Company.find(@person.company_id).company_name %>
</p>
<p>
  <b>Title:</b>
  <%= @person.title %>
</p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>Position:</b>
  <%= @person.position %>
</p>

<p>
  <b>Telephone number:</b>
  <%= @person.telephone_number %>
</p>

<p>
  <b>Mobile number:</b>
  <%= @person.mobile_number %>
</p>

<p>
  <b>Email address:</b>
  <%= @person.email_address %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', person_path %> |
<%= link_to 'Delete', :confirm => 'Are you sure you want to delete this person?', :method => :delete %>