<p id="notice"><%= notice %></p>

<p class="nameheader">
  <%= @person.title %> <%= @person.first_name %> <%= @person.last_name %>
</p>
<p>
  <b>Company:</b>
  <%= link_to Company.find(@person.company_id).company_name, Company.find(@person.company_id) %>
</p>
<p>
  <b>Position:</b>
  <%= @person.position %>
</p>

<p>
  <b>Telephone number:</b>
  <%= @person.telephone_number %>
</p>

<p>
  <b>Mobile number:</b>
  <%= @person.mobile_number %>
</p>

<p>
  <b>Email address:</b>
  <%= @person.email_address %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Delete', :confirm => 'Are you sure you want to delete this person?', :method => :delete %>
<%= link_to 'Add a new task', new_task_path%>