<p class="nameheader">
  <%= @person.title %> <%= @person.first_name %> <%= @person.last_name %>
</p>
<p>
  <b>Company:</b>
  <%= link_to Company.find(@person.company_id).company_name, Company.find(@person.company_id) %>
</p>
<p>
  <b>Position:</b>
  <%= @person.position %>
</p>

<p>
  <b>Telephone number:</b>
  <%= @person.telephone_number %>
</p>

<p>
  <b>Mobile number:</b>
  <%= @person.mobile_number %>
</p>

<p>
  <b>Email address:</b>
  <%= link_to @person.email_address,  "mailto:" + @person.email_address %>
</p>

<p>
  <b>IM:</b>
  <%= @person.im %>
</p>
<p>
  <b>LinkedIn:</b>
	<% unless @person.linkedin.empty? %>
	<%= link_to "http://www.linkedin.com/in/" + @person.linkedin, "http://www.linkedin.com/in/" + @person.linkedin, :target => :blank %>
	<% end %>
</p>
<p>
  <b>Twitter:</b>
  <% unless @person.twitter.empty? %>
		<%= link_to "@" +  @person.twitter, "http://twitter.com/" +  @person.twitter, :target => :blank %>
	<% end %>
</p>
<% unless @person.address_1.empty? %>
<p>
  <b>Address:</b>
  <%= @person.address_1 %>
  <%= @person.address_2 %>
  <%= @person.city %>
  <%= @person.county %>
  <%= @person.postcode %>
</p>
<% end %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Delete', :confirm => 'Are you sure you want to delete this person?', :method => :delete, :remote => :true %> |
<%= link_to 'Add a new task', new_task_path%>
<br>
<%= link_to 'â† Back to people', people_path %>