<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.label "Invoice ID" %>
	<br>
  <div class="field">
    <%= f.label :invoice_date %><br />
    <%= f.date_select :invoice_date, :order =>[:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label "Company" %>
  	<option value="" selected="selected"></option>
    <%= f.collection_select(:company_id, Company.all, :id, :company_name ) %>
  </div>
  <div class="field">
    <%= f.label :purchase_order %><br />
    <%= f.text_field :purchase_order %>
  </div>
  <div class="field">
    <%= f.label :vat_rate %><br />
	<select id="invoices_vat_rate" name="invoice[vat_rate]">
    	<option value="0.150" selected="selected" >15.0%</option>
		<option value="0.175" selected="selected" >17.5%</option>
		<option value="0.200" selected="selected" >20%</option>
	</select>
	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
