<%= form_for(@invoice, :remote => true) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :invoice_date %>
    <%= f.date_select :invoice_date, :order =>[:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label "Company" %>
  	<option value="" selected="selected"></option>
    <%= f.collection_select(:company_id, Company.all, :id, :company_name ) %>
  </div>
  <div class="field">
    <%= f.label :purchase_order %>
    <%= f.text_field :purchase_order %>
  </div>
  <div class="field">
    <%= f.label :vat_rate %>
	<select id="invoices_vat_rate" name="invoice[vat_rate]">
    	<option value="15" selected="selected" >15.0%</option>
		<option value="17.5" selected="selected" >17.5%</option>
		<option value="20" selected="selected" >20%</option>
	</select>
	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
