<table id="invoice-items">
	<thead>
		<td>Qty</td>
		<td>Item</td>
		<td>Price</td>
		<td>Description</td>
		<td>Tax Rate</td>
		<td>Total</td>
	</th>
<% @items.each do |item| %>
	 <tr>
	 	<td><%= item.quantity %></td>
	    <td><%= link_to item.unit_type, edit_invoice_invoice_item_path(item) %></td>
	    <td><%= number_to_currency(item.unit_price, :unit => '&pound;') %></td>
	    <td><%= item.details %></td>
	    <td><%= number_to_percentage(item.tax_rate, :precision => 1) %></td>
		<td><%= @invoice.total %></td>
	</tr>
	<tr>
		<td><%= link_to 'Add item', new_invoice_invoice_item_path %></td>
<% end %>
</table>
