<h1>Invoices</h1>
<br>
<%= link_to 'New Invoice', new_invoice_path, :id => 'create_invoice' %>
<br>
<h2>Unpaid Invoices</h2>
<table id="outstanding">
  <tr>
    <th>Invoice date</th>
    <th>Date sent</th>
    <th>Company</th>
    <th>Total</th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= link_to invoice.invoice_date.strftime("%d/%m/%y"), invoice %></td>
    <td><%= invoice.date_sent %></td>
    <td><%= Company.find(invoice.company_id).company_name %></td>
    <td><%= invoice.total %></td>
  </tr>
<% end %>
</table>
<br>
<h2>Overdue Invoices</h2>
<table id="overdue">
  <tr>
    <th>Invoice date</th>
    <th>Date sent</th>
    <th>Company</th>
    <th>Total</th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= link_to invoice.invoice_date.strftime("%d/%m/%y"), invoice %></td>
    <td><%= invoice.date_sent %></td>
    <td><%= Company.find(invoice.company_id).company_name %></td>
    <td><%= invoice.total %></td>
  </tr>
<% end %>
</table>
<br>
<h2>Recently Paid Invoices</h2>
<table id="recently-paid">
  <tr>
    <th>Invoice date</th>
    <th>Date sent</th>
    <th>Company</th>
    <th>Total</th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= link_to invoice.invoice_date.strftime("%d/%m/%y"), invoice %></td>
    <td><%= invoice.date_sent %></td>
    <td><%= Company.find(invoice.company_id).company_name %></td>
    <td><%= invoice.total %></td>
  </tr>
<% end %>
</table>

<br />


<div id="dialog-form" title="Create new Invoice" style="display:none;">
	<p class="validateTips">All form fields are required.</p>
	<form>
	<fieldset>
		<label for="invoice_date">Invoice Date</label>
		<input type="text" name="invoice_date" id="invoice_date" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
</div>