<p id="notice"><%= notice %></p>

<p>
  <b>Invoice date:</b>
  <%= @invoice.invoice_date %>
</p>

<p>
  <b>Purchase order:</b>
  <%= @invoice.purchase_order %>
</p>

<p>
  <b>Date sent:</b>
  <%= @invoice.date_sent %>
</p>

<p>
  <b>Paid:</b>
  <%= @invoice.paid %>
</p>

<p>
  <b>Date paid:</b>
  <%= @invoice.date_paid %>
</p>

<p>
  <b>Sub total:</b>
  <%= @invoice.sub_total %>
</p>

<p>
  <b>Vat rate:</b>
  <%= @invoice.vat_rate %>
</p>

<p>
  <b>Vat total:</b>
  <%= @invoice.vat_total %>
</p>

<p>
  <b>Discount total:</b>
  <%= @invoice.discount_total %>
</p>

<p>
  <b>Total:</b>
  <%= @invoice.total %>
</p>

<p>
  <b>Company:</b>
  <%= @invoice.company_id %>
</p>

<%= link_to 'New invoice item', new_invoice_invoice_items_path(@invoice) %>

<table id="invoiceitems">
	<tr>
		<th>Qty</th>
		<th>Price</th>
		<th>Description</th>
		<th>VAT Rate</th>
		<th>Total</th>
	</tr>
<% @invoice.items.each do |item| %>
	 <tr>
	 	<td><%= item.quantity %></td>
	    <td><%= item.unit_type %></td>
	    <td><%= item.unit_price %></td>
	    <td><%= item.detail %></td>
	    <td><%= item.vat_rate %></td>
		<td><%= item.total_cost %></td>
	</tr>
<% end %>
</table>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
