<p id="notice"><%= notice %></p>

<p class="right">
  <b>Invoice date:</b>
  <%= @invoice.invoice_date.strftime('%e %B %Y') %>
</p>

<p class="right">
  <b>Purchase order:</b>
  <%= @invoice.purchase_order %>
</p>

<div id="invoice-address">
	<p><%= Company.find(@invoice.company_id).company_name %></p>
	<p><%= Company.find(@invoice.company_id).address_1 %></p>
	<p><%= Company.find(@invoice.company_id).address_2 %></p>
	<p><%= Company.find(@invoice.company_id).city %></p>
	<p><%= Company.find(@invoice.company_id).county %></p>
	<p><%= Company.find(@invoice.company_id).postcode %></p>
</div>

<%= render 'items' %>

<div class="invoice-wrapper">
<table id="invoice-show">
<tr>
  <th><b>Sub total:</b></th>
  <td class="right"><%= @invoice.sub_total %></td>
</tr>
<tr>
  <th><b>Vat rate:</b></th>
  <td class="right"><%= @invoice.vat_rate %></td>
</tr>
<tr>
  <th><b>Vat total:</b></th>
  <td class="right"><%= @invoice.vat_total %></td>
</tr>
<tr>
  <th><b>Discount total:</b></th>
  <td class="right"><%= @invoice.discount_total %></td>
</tr>
<tr>
  <th><b>Total:</b></th>
  <td class="right"><%= @invoice.total %></td>
</table>
</div>

<div id="invoice-metadata">
<h3>Invoice Info</h3>
<table>
	<th>
		<td>Date Sent:</td>
		<td>Paid</td>
		<td>Date Paid</td>
	</th>
	<tr>
	 <td><%= @invoice.date_sent %></td>
	 <td><%= @invoice.paid %></td>
	 <td><%= @invoice.date_paid %></td>
	</tr>
</table>
</div>
	

<%= link_to 'New invoice item', new_invoice_invoice_item_path(@invoice) %>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
