<h1>Listing tasks</h1>

<table>
  <tr>
	<th></th>
    <th>Task</th>
    <th>Due date</th>
    <th>Category</th>
    <th>Private</th>
  </tr>

<h2 id="overdue">Overdue</h2>
<% @tasks.overdue.each do |task| %>
  <tr class="tasklist">
	<td class="checkbox"><%= check_box task.completed, task.completed %></td>
    <td class="taskitem"><%= link_to task.task, task %></td>
    <td class="taskdate"><%= task.due_date.strftime("%d/%m/%Y") %></td>
    <td class="taskcategory"><%= task.category %></td>
    <td class="checkbox"><%= check_box_tag task.private %></td>
  </tr>
<% end %>
</table>
<table>	
<h2 id="due_this_week">Due this week</h2>
<% @tasks.due_this_week.each do |task| %>
  <tr class="tasklist">
	<td class="checkbox"><%= check_box task.completed, task.completed %></td>
    <td class="taskitem"><%= link_to task.task, task %></td>
    <td class="taskdate"><%= task.due_date.strftime("%d/%m/%Y") %></td>
    <td class="taskcategory"><%= task.category %></td>
    <td class="checkbox"><%= check_box_tag task.private %></td>
  </tr>
<% end %>
</table>
<table>	
<h2 id="due_older">Due later</h2>
<% @tasks.due_older.each do |task| %>
  <tr class="tasklist">
	<td class="checkbox"><%= check_box task.completed, task.completed %></td>
    <td class="taskitem"><%= link_to task.task, task %></td>
    <td class="taskdate"><%= task.due_date.strftime("%d/%m/%Y") %></td>
    <td class="taskcategory"><%= task.category %></td>
    <td class="checkbox"><%= check_box_tag task.private %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
