<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @task.person_id %>
</p>

<p>
  <b>Task:</b>
  <%= @task.task %>
</p>

<p>
  <b>Due date:</b>
  <%= @task.due_date %>
</p>

<p>
  <b>Category:</b>
  <%= @task.category %>
</p>

<p>
  <b>Private:</b>
  <%= @task.private %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>

<%= link_to 'Delete task', @task, confirm: 'Are you sure?', method: :delete %>