<%= form_for(@ios_value) do |f| %>
  <% if @ios_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ios_value.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
      <% @ios_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Daily Rate (£)" %>
    <%= f.text_field :daily_rate, :size => 8 %>
    <p id="helper">Enter the daily rate for this service</p>
  </div>
  <div class="field">
    <%= f.label "Installation Time" %>
    <%= f.text_field :iosdevice_install_time, :size => 8 %>
    <p id="helper">Enter the projected time required to perform this task per device</p>
  </div>
  <div class="field">
    <%= f.label "Annual Support Cost" %>
    <%= f.text_field :iosdevice_support_cost, :size => 8 %>
    <p id="helper">Enter the projected time required to perform this task per device</p>
  </div>
  <div class="field">
    <%= f.label "Initial Setup Time" %>
    <%= f.text_field :iosdevice_install_setup, :size => 8 %>
    <p id="helper">Enter the projected time required to perform this task</p>
  </div>
  <%= f.submit %>
  <a href="#" onclick="$('#client_form').submit(); return false;"><span>Submit</span></a>
  </div>
<% end %>