<%= simple_form_for [Admin, @ios_value] do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.input :daily_rate, label: "Daily Rate (£)" %>
    <p id="helper">Enter the daily rate for this service</p>
    <%= f.input :iosdevice_install_time, label: "Installation Time" %>
    <p id="helper">Enter the projected time required to perform this task per device</p>
    <%= f.input :iosdevice_support_cost, label: "Annual Support Cost" %>
    <p id="helper">Enter the projected time required to perform this task per device</p>
    <%= f.input :iosdevice_install_setup, label: "Initial Setup Time" %>
    <p id="helper">Enter the projected time required to perform this task</p>
    <%= f.button :submit, value: "Save Values" %>
  <!-- <a href="#" onclick="$('#client_form').submit(); return false;"><span>Submit</span></a> -->
  </div>
<% end %>
