<div class="field">
<b>Date</b>
  <%= @ios_value.created_at.strftime("%d/%m/%Y") %>
</p>
<p>
  <b>Daily Rate (£)</b>
  <%= @ios_value.daily_rate %>
<p>
  <b>Installation Time</b>
  <%= @ios_value.iosdevice_install_time %>
</p>
<p>
  <b>Annual Support Cost</b>
  <%= @ios_value.iosdevice_support_cost %>
</p>
<p>
  <b>Initial Setup Time</b>
  <%= @ios_value.iosdevice_install_setup %>
</p>
</div>
<%= link_to '← Back', admin_ios_values_path %>
<% if permitted_to? :delete %>
  <%= link_to "Delete", @ios_value, :confirm => "Are you sure you wish to delete this entry? Doing so will render any associated quotes unable to update.", :method => :delete, :remote => true, :title => "Delete iOS Quote Values" %>
  <% end %>
