<div class="field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
</div>
<div class="field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
</div>
<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>
<div class="field">
  <%= form.label :password, form.object.new_record? ? nil : "New password" %>  
  <%= form.password_field :password %>
</div>
<div class="field">
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
</div>
<div class="roles">
<% if permitted_to? :update, :users %>
<p>
 <%= form.label :roles %> <br />
  <% for role in Role.all %>
      <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
    <label for="user_role_ids_"><%= role.name %></label> 
  <% end %>
</p>
</div>
<% end %>
