<h1>Edit My Account</h1>

<%= form_for(@user, :remote => true) do |f| %>
  <%= render :partial => "form", :object => f %>
  <div class="row">
    <h4>Company Information</h4>
    <div class="field">
      <%= f.label :company_name %>
      <%= f.text_field :company_name %>
    </div>
    <div class="field">
      <%= f.label :job_title %>
      <%= f.text_field :job_title %>
    </div>
    <% if has_role? :admin %>
    <div>
      <%= f.label :active %>
      <%= f.check_box :active %>
    </div>
    <% end %>
  </div>

  <div class="row">
    <%= button_to "Back to Users", users_path, class: "btn btn-default" %>
    <%= f.submit "Update User", class: "btn btn-default" %>
    <% if has_role? :admin %>
      <%= button_to "Delete User", { action: "destroy", id: @user.id },
                                  method: :delete, data: { confirm: "Are you sure you want to delete #{@user.to_s}?" }, class: "btn btn-danger" %>
    <% end %>
  </div>
<% end %>
