<h1>Edit My Account</h1>

<% form_for @user, :url => account_path do |f| %>
  <%= render :partial => "form", :object => f, :locals => { :user => @user } %>
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "My Profile", account_path %>

<% if admin_user? %>
<p>
	<%= form.label "Role" %><br />
	<%= collection_select(:user, :role, Role.all, :id, :name, :prompt => true) %>
</p>	
<% for role in Role.find(:all) %>
      <div>
        <%=check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
        <%=role.name%>
      </div>
<% end %>
<% end %>