<h2>My Profile</h2>
<p>
  <b>Email: </b>
  <%=h @user.email %>
</p>
<p>
  <b>Name:</b>
  <%=h @user.first_name %> <%=h @user.last_name %>
</p>
<p>
  <b>Company Name:</b>
  <%=h @user.company_name %>
</p>
<p>
  <b>Job Title:</b>
  <%=h @user.job_title %>
</p>
</ br>
<h4> Admin Info </h4>
  <p>
    <b>Role:</b>
  	<%= @user.role %>
  <br>	

  <p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%=h @user.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @user.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @user.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%=h @user.last_login_ip %>
  <p>
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
</p>

<p>
<div id="bottom_nav">
  <div id="back_button">
  <% if permitted_to? :index, User.all %>
    <%= link_to 'â† Back to User list', users_path %>
  <% end %>
  </div>
  <div id="edit_button">
    <%= link_to 'Edit Details', edit_user_path(@user) %> | 
    <% if permitted_to? :delete %>
      <%= link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </div>
</div>