<h2>My Profile</h2>
<dd>Email: </dd>
<dt><%=h @user.email %></dt>

<dd>Name:</dd>
<dt><%=h @user.to_s %></dt>

<dd>Company Name: </dd>
<dt><%=h @user.company_name %></dt>

<dd>Job Title: </dd>
<dt><%=h @user.job_title %></dt>

<dd>Last login at: </dd>
<dt><%=h @user.last_login_at %></dt>

<% if has_role? :admin %>
<h3>Admin Info</h3>
  <p><%= pluralize(@user.roles.size, 'Role') %></p>
  <table>
    <th>
      <td>Roles</td>
    </th>
  	<% @user.roles.each do |role| %>
  		<tr>
        <td><%= role.title.titleize %></td>
      </tr>
  	<% end %>
<dd>Active: </dd>
<dt><%=h @user.active %></dt>

<dd>Login count: </dd>
<dt><%=h @user.login_count %></dt>

<dd>Last request at: </dd>
<dt><%=h @user.last_request_at %></dt>

<dd>Current login at:</dd>
<dt><%=h @user.current_login_at %></dt>

<dd>Last login ip:</dd>
<dt><%=h @user.last_login_ip %></dt>

<dd>Current login ip:</dd>
<dt><%=h @user.current_login_ip %></dt>
<% end %>

<p>
<div id="bottom_nav">
  <div id="back_button">
  <% if permitted_to? :index, User.all %>
    <%= link_to ' â† Back to User list', users_path %>
  <% end %>
  </div>
  <div id="edit_button">
    <%= link_to 'Edit Details', edit_user_path(@user) %>
  </div>
</div>
