<h3 class="tabletitle">iPad, iPhone and iPod Touch</h3>
<%= link_to "Create a new iOS Install and Support Quote", new_ios_quote_path %>
<br>
<h3 class="tabletitle">Latest iOS Deployment Quotes</h3>

<table id="home-ios-quote">
  <tr>
    <th>Date</td>
    <th>Customer</th>
    <th>Quantity</th>
    <th>Install Cost</th>
    <th>Support Cost</th>
  </tr>
<% IosQuote.where(:user_id => current_user.id).limit(5).all.each do |ios_quote| %>
	<tr>
		<td><%= ios_quote.created_at.strftime("%d/%m/%Y") %></td>
		<td><%= link_to ios_quote.customer, ios_quote %></td>
		<td><%= ios_quote.device_quantity %></td>
		<td><%= number_to_currency(ios_quote.install_cost, :unit => "&pound;") %></td>
		<td><%= number_to_currency(ios_quote.support_cost, :unit => "&pound;") %></td>
	</tr>
<% end %>
</table>
<div id="more_link">
<%= link_to "More...", ios_quotes_path %>
</div>
