<h1>Listing clients</h1>
<%= link_to 'New Client', new_client_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Last name</th>
    <th>First name</th>
    <th>Company</th>
    <th></th>
  </tr>
  
<% @clients.each do |client| %>
  <tr>
    <td><%= client.title %></td>
    <td><%= client.last_name %></td>
    <td><%= client.first_name %></td>
<td><%= link_to Company.find(client.company_id).company_name, Company.find(client.company_id) %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
  </tr>
<% end %>
</table>

<br />



<% content_for :sidebar do %>
    <h3>Clients Sidebar</h3>
  	<p>There will be some content here. Perhaps a list of recently changed items?
	<% end %>
