<h1>Listing clients</h1>
<%= link_to 'New Client', new_client_path %>
<table>
  <tr>
    <th>Client name</th>
    <th>Title</th>
    <th>Last name</th>
    <th>First name</th>
  </tr>
  <% content_for :sidebar do %>
    <h3>Clients Sidebar</h3>
  	<p>There will be some content here. Perhaps a list of recently changed items?
	<% end %>

<% @clients.each do |client| %>
  <tr>
    <td><%= link_to client.client_name, client %></td>
    <td><%= client.title %></td>
    <td><%= client.last_name %></td>
    <td><%= client.first_name %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
  </tr>
<% end %>
</table>

<br />