<p id="notice"><%= notice %></p>

<p>
  <b>Client name:</b>
  <%= @client.client_name %>
</p>
<p>
  <b>Company:</b>
  <%= Company.find(@client.company_id).company_name %>
</p>
<p>
  <b>Title:</b>
  <%= @client.title %>
</p>

<p>
  <b>First name:</b>
  <%= @client.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @client.last_name %>
</p>

<p>
  <b>Position:</b>
  <%= @client.position %>
</p>

<p>
  <b>Telephone number:</b>
  <%= @client.telephone_number %>
</p>

<p>
  <b>Mobile number:</b>
  <%= @client.mobile_number %>
</p>

<p>
  <b>Email address:</b>
  <%= @client.email_address %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %> |
<%= link_to 'Delete', :confirm => 'Are you sure you want to delete this person?', :method => :delete %>