<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <sup>* required fields</sup>
  <div class="field">
	<%= f.label "Company Name*" %>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :address_1 %>
    <%= f.text_field :address_1 %>
  </div>
  <div class="field">
    <%= f.label :address_2 %>
    <%= f.text_field :address_2 %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :county %>
    <%= f.text_field :county %>
  </div>
  <div class="field">
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :telephone_number %>
    <%= f.telephone_field :telephone_number %>
  </div>
  <div class="field">
    <%= f.label :source %>
    <%= f.select(:source, Company::SOURCE_TYPE) %>
  </div>
  <div class="field">
	<%= f.label "Company Type*" %>
  	<%= f.select(:company_type, Company::COMPANY_TYPE, {:prompt => "Select Type..."}) %>
  </div>
  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div><br />
  <div class="actions">
    <%= f.submit "Save"%>
  </div>
<% end %>
