<h1>All companies</h1>
  
<div class="data-view">
  <div class="data-nav">
    <%= link_to 'New Company', new_company_path %>
  </div>

<div class="data-list">
<table class="pretty">
	<th>
		<tr>
			<td></td>
			<td>Telephone</td>
			<td>Town</td>
		</tr>
	</th>
<% @companies.each do |company| %>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<tr>
    <td class="tablename"><%= link_to company.company_name, company %></td>
    <td class="tablename"><%= company.telephone_number %></td>
    <td class="tablename"><%= company.city %>, <%= company.county%></td>
  </tr>
<% end %>
</table>
</div>


<% content_for :sidebar do %>
<h2>Search</h2>
<%= form_tag companies_path, :method => 'get', :remote => true, :id => "companies_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :company_name => nil %>
  </p>
<% end %>
<% end %>