<p id="notice"><%= notice %></p>
<p>
  <h3><%= @company.company_name %></h3> | <%= link_to 'Edit', edit_company_path(@company) %>
</p>
<p>
<b>Address Line 1:</b>
<%= @company.address_1 %>
<p>
<b>Address Line 2:</b>
<%= @company.address_2 %>
<p>
<b>City:</b>
<%= @company.city %>
<p>
<b>County:</b>
<%= @company.county %>
<p>
<b>Post Code:</b>
<%= @company.postcode %>

<p>
  <b>Telephone Number:</b>
  <%= @company.telephone_number %>
</p>

<p>
  <b>Website:</b>
  <%= link_to @company.website, @company.website, :target => "_blank" %>
</p>

<h2>Employees</h2>
<div id="people">
	<%= link_to 'Add a new person', new_person_path %>

	<% unless @company.people.empty? %>
	<table id="index">
		<%= render :partial => 'companies/people' %>
	<% end %>
	</table>
</div>

<h2>Recent Activity</h2>
<div id="adhoc_supports">
	<% unless @company.adhoc_supports.empty? %>
	<table id="index">
		<%= render :partial => 'companies/adhoc_supports' %>
	<% end %>
	</table>
</div>