<p id="notice"><%= notice %></p>
<p>
  <h3><%= @company.company_name %></h3>
</p>
<p>
<b>Address Line 1:</b>
<%= @company.address_1 %>
<p>
<b>Address Line 2:</b>
<%= @company.address_2 %>
<p>
<b>City:</b>
<%= @company.city %>
<p>
<b>County:</b>
<%= @company.county %>
<p>
<b>Post Code:</b>
<%= @company.postcode %>

<p>
  <b>Telephone Number:</b>
  <%= @company.telephone_number %>
</p>

<p>
  <b>Website:</b>
  <%= link_to @company.website, @company.website, :target => "_blank" %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
