<h1>Quotation Values - iOS</h1>
<%= link_to 'â† Back to Admin', admin_path %>
<br>
<table>
  <tr>
    <th>Date</td>
	  <th>Daily Rate</td>
	  <th>Install Cost</td>
	  <th>Annual Cost</td>
	  <th>Install Time</td>
  </tr>
<% @ios_values.each do |ios_value| %>
	<tr>
		<td><%= link_to ios_value.created_at.strftime("%d/%m/%Y %H:%M"), ios_value %></td>
		<td><%= ios_value.daily_rate %></td>
		<td><%= ios_value.iosdevice_install_setup %></td>
		<td><%= ios_value.iosdevice_support_cost %></td>
		<td><%= ios_value.iosdevice_install_time %></td>
	</tr>
<% end %>
</table>
<br />
<%= link_to 'Add New Values', new_ios_value_path %>