<%= render 'role_list' %>
<br>
<%= form_for([:admin, @new_role]) do |f| %>
  <% if @new_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_role.errors.count, "error") %> prevented this leave type from being saved:</h2>

      <ul>
      <% @new_role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.label :title, "Name of new role" %>
	<%= f.text_field :title %>
	<%= f.submit class: 'btn btn-primary' %>
<% end %>
