<%= form_for(@item, :remote => true) do |f| %>
<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this invoice from being saved:</h2>
    <ul>
    	<% @item.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
    	<% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :unit_type %>
    <%= f.text_field :unit_type %>
  </div>
  <div class="field">
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>
  <div class="field">
    <%= f.label :tax_rate %>
	<select id="invoices_vat_rate" name="invoice[vat_rate]">
    	<option value="0.150" selected="selected" >15.0%</option>
		<option value="0.175" selected="selected" >17.5%</option>
		<option value="0.200" selected="selected" >20%</option>
	</select>
  </div>
  <div class="field">
    <%= f.label :unit_price %>
    £<%= f.text_field :unit_price %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>