<%= form_for (@adhoc_support) do |f| %>
  <% if @adhoc_support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adhoc_support.errors.count, "error") %> prohibited this adhoc_support from being saved:</h2>

      <ul>
      <% @adhoc_support.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="#datepicker">
    <%= f.label :date %><br />
    <%= date_select('adhoc_support', 'date', :order =>[:day, :month, :year]) %>
  </div>

  <div class="field">
    <%= f.label :job_type %><br />
	<select id="adhoc_supports_job_type" name="adhoc_support[job_type]">
    	<option value="Full Day" selected="selected" >Full Day</option>
		<option value="Half Day" selected="selected" >Half Day</option>
	</select>
  </div>

  <div class="field">
  	<%= f.label :company_name %>
  	<option value="" selected="selected"></option>
  	<%= f.collection_select(:company_id, Company.all, :id, :company_name ) %>
  </div>
  
  <div class="field">
    <%= f.label :technicians %><br />
	<%= f.check_box :technicians %>
  </div>
  
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div>
    <%= f.submit "Submit"%>
  </div>
  <br>
<% end %>
