<%= form_for (@adhoc_support) do |f| %>
  <% if @adhoc_support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adhoc_support.errors.count, "error") %> prohibited this adhoc_support from being saved:</h2>

      <ul>
      <% @adhoc_support.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
	  <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :job_type %><br />
	<select id="adhoc_supports_job_type" name="adhoc_support[job_type]">
		<option value="" selected="selected"></option>
    	<option value="Full Day" selected="selected" >Full Day</option>
		<option value="Half Day" selected="selected" >Half Day</option>
	</select>
  </div>

  <div class="field">
  <option value="" selected="selected"></option>
  <%= f.collection_select(:company_id, Company.all, :id, :company_name ) %>
  </div>
  
  <div class="field">
    <%= f.label :technicians %><br />
	  <%= f.text_field :technicians %>
  </div>
  
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div>
  <a class="button" href="#" onclick="$('#user_form).submit(); return false;"><span>Submit</span></a>
  </div>
<% end %>
