<p>
  <b>Date:</b>
  <%= @adhoc_support.date.strftime("%d/%m/%y") %>
</p>
<p>
  <b>Company:</b>
  <%= link_to Company.find(@adhoc_support.company_id).company_name, Company.find(@adhoc_support.company_id) %>
</p>

<p>
  <b>Type:</b>
  <%= @adhoc_support.job_type %>
</p>

<p>
  <b>Technicians:</b>
  <%= @adhoc_support.technicians %>
</p>

<p>
  <b>Notes:</b>
  <%= @adhoc_support.notes %>
</p>

<p>
  <b>Invoice:</b>
  <%= link_to @adhoc_support.invoice_id, @adhoc_support.invoice_id %>
</p>



<%= link_to 'Edit', edit_adhoc_support_path(@adhoc_support) %> |
<%= link_to 'Back', adhoc_supports_path %><br>

<%= link_to 'Create Invoice', %> | <%= link_to 'View Invoice' %>