<h1>Recent Mac Quotes</h1>
<%= link_to ' Back', root_path %><br>
<br>
<% if permitted_to? :create, :mac_quote %>
<%= link_to 'New Quote', new_mac_quote_path %><br>
<% end %>
<br>
<table>
  <tr>
    <th>Date</td>
	  <th>Customer</th>
	  <th>Quantity</th>
    <th>Install Cost</th>
	  <th>Support Cost</th>
	  <th></th>
  </tr>
<% @mac_quotes.each do |mac_quote| %>
	<tr>
		<td><%= mac_quote.created_at.strftime("%d/%m/%Y") %>
		<td><%= mac_quote.customer %></td>
		<td><%= mac_quote.device_quantity %></td>
		<td><%= number_to_currency(mac_quote.install_cost, :unit => "&pound;") %></td>
		<td><%= number_to_currency(mac_quote.support_cost, :unit => "&pound;") %></td>
		<td><%= link_to 'View', mac_quote %></td>
	</tr>
<% end %>
</table>
<br />
<%= will_paginate @mac_quotes %>

<% content_for :sidebar do %>
    <h3>Mac Quotes</h3>
<% end %>
