<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @ios_quote.customer %>
</p>

<p>
  <b>Device Quantity:</b>
  <%= @ios_quote.device_quantity %>
</p>

<p>
  <b>Installation Required?</b>
  <%= @ios_quote.install_required %>
</p>

<p>
  <b>Support Required?</b>
  <%= @ios_quote.support_required %>
</p>

<p>
  <b>Support Cost:</b>
  <%= number_to_currency(@ios_quote.support_cost, :unit => "&pound;") %>
</p>

<p>
  <b>Install Cost:</b>
  <%= number_to_currency(@ios_quote.install_cost, :unit => "&pound;") %>
</p>

<p>
  <b>Installation Required?</b>
  <%= @ios_quote.install_required %>
</p>
<p><%= link_to "Printable Quote (PDF)", ios_quote_path(@ios_quote, :format => 'pdf') %></p>

<%= link_to 'â† Back', ios_quotes_path %> |
<% if can? :update, @mac_quote %>
  <%= link_to 'Edit', edit_ios_quote_path(@ios_quote) %> |
<% end %>
<% if can? :destroy, @mac_quote %>
  <%= link_to 'Delete', :confirm => 'Are you sure you want to delete this quote?', :method => :destroy %>
  <% end %>