<%= form_for(@ios_quote) do |f| %>
  <% if @ios_quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ios_quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @ios_quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer %>
    <%= f.text_field :customer, :size => 50 %>
  </div>
  <div class="field">
    <%= f.label :device_quantity %>
    <%= f.text_field :device_quantity, :size => 5 %>
  </div>
  <div class="field">
    <%= f.label :install_required %>
    <%= f.check_box :install_required %>
  </div>
  <div class="field">
    <%= f.label :support_required %>
    <%= f.check_box :support_required %>
  </div>
  <div class="field">
    <%= f.label :mobile_config %>
    <%= f.check_box :mobile_config %>
  </div><br />
  <% if not @ios_quote.new_record? %>
  <div class="field">
      <%= f.label :quote_status %><br />
  	<select id="ios_quotes_quote_status" name="ios_quote[quote_status]">
    	<option value="Won" selected="" >Won</option>
    	<option value="Pending" selected="" >Pending</option>
  		<option value="Lost" selected="" >Lost</option>
  	</select>
  </div>
  <% end %>

	<%= f.submit "Submit" %>
  <div class="button">
  <a class="button" id="ios_quote_submit" name="commit" type="submit" href="#" onclick="submit()"><span>Submit Quote</span></a>
  </div>
<% end %>