<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @ios_quote.customer %>
</p>

<p>
  <b>Device Quantity:</b>
  <%= @ios_quote.device_quantity %>
</p>

<p>
  <b>Installation Required?</b>
  <%= @ios_quote.install_required %>
</p>

<p>
  <b>Support Required?</b>
  <%= @ios_quote.support_required %>
</p>

<p>
  <b>Support Cost:</b>
  <%= number_to_currency(@ios_quote.support_cost, :unit => "£") %>
</p>

<p>
  <b>Install Cost:</b>
  <%= number_to_currency(@ios_quote.install_cost, :unit => "£") %>
</p>
<p>
  <b>Quote Status</b>
  <%= @ios_quote.status %>
</p>

<div class="button">
  <h3>Download PDFs</h3>
<a class="button" href="#"><span>Reseller Quote</span></a>
<p><%= link_to "Printable Quote (PDF)", ios_quote_path(@ios_quote, :format => 'pdf') %></p>
<a class="button" href="#"><span>Client Quote</span></a>
<a class="button" href="#"><span>Terms</span></a>
</div>
<div id="bottom_nav">
  <div id="back_button">
  <% if permitted_to? :index, IosQuote.all %>
    <%= link_to '← Back to list', ios_quotes_path %>
  <% end %>
  </div>
  <div id="won_button">
    <%= link_to 'Mark as Won',{:controller => :ios_quotes, :method => :mark_as_won}, :remote => true %>
  </div>
  <div id="edit_button">
  <% if permitted_to? :update %>
    <%= link_to 'Edit', edit_ios_quote_path(@ios_quote) %>
  <% end %>
    <% if permitted_to? :delete %>
      <%= link_to 'Delete Quote', ios_quote_path(@ios_quote), :confirm => 'Are you sure? This deletion will be permanent.', :method => :delete, :remote => :true %>
    <% end %>
  </div>
</div>