<h1>Quotation Value - Mac</h1>
<%= link_to 'â† Back to Admin', admin_path %>
<br />
<table>
  <tr>
    <th>Date</td>
	  <th>Daily Rate</td>
	  <th>Mac Support Cost</td>
    <th>Server Support Cost</td>
	  <th></th>
  </tr>
<% @mac_values.each do |mac_value| %>
	<tr>
		<td><%= link_to mac_value.created_at.strftime("%d/%m/%Y") %>
		<td><%= mac_value.day_rate %></td>
		<td><%= mac_value.mac_support_cost %></td>
		<td><%= mac_value.server_support_cost %></td>
		<td><%= link_to 'View', mac_value %></td>
	</tr>
<% end %>
</table>
<br />
<%= link_to 'Add New Values', new_mac_value_path %>