<h1>Login</h1>
<div id="loginform">
  <h2>Please login</h2>
  <%= simple_form_for(@user_session, html: { class: ".form-horizontal" }) do |f| %>
    <%= f.error_notification %>
    
    <div class="form-inputs">
      <%= f.input :email, error: "Email address is incorrect or doesn't exist" %>
      <%= f.input :password, error: 'Please check your password' %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Login" %>
    </div>
  <% end %>
  
<strong>Help:</strong> <%= link_to "I forgot my password.", new_password_resets_path %>
