<div>
	<li class="header_logo"><%= link_to logo , root_path %></li>
	<ul id="nav">
			<li><%= link_to "Home", root_path %></li>
		<% if signed_in? %>
			<li><%= link_to "Clients", clients_path %></li>
			<li><%= link_to "Ad Hoc Support", adhoc_supports_path %></li>
			<li><%= link_to "Companies", companies_path %></li>
			<li><%= link_to "Quotes", quotes_path %></li>
			<li><%= link_to "Profile", current_user %></li>
		<% end %>
		<% if signed_in? %>
			<li><%= link_to "Admin", admin_path %></li>
		<% end %>
	<li><%= link_to "Help", help_path %></li>
	<% if signed_in? %>
		<li><%= link_to "Sign Out", logout_path, :method => :delete %></li>
    	<% else %>
		<li><%= link_to "Sign In", login_path %></li>
		<li><%= link_to "Signup", signup_path, :class => "signup_button_round" %></li>
		<% end %>		
	</ul>
</div>
