<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ClientBase: <%= @title %></title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="copyright" content="" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

  </head>
  <body>
    <%= render 'layouts/header' %>
  	<!-- End Header -->
	<div id="global_sidebar">
    <!-- End Navigation -->
	</div>
    <!-- End Global Sidebar -->
  	<div id="wrapper">

  		<div id="content">

        		<div id="main" class="round">
          		<p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
          		<%= yield %>
        		</div>
        		<!-- End Main -->

      	</div>
      	<!-- End Content -->

  	</div>
  	<!-- End Wrapper -->

    <footer>
      <div id="footer">
       <%= render 'layouts/footer' %>
      </div>
    </footer>
     <%= debug(params) if Rails.env.development? %>
  </body>
</html>
