<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>ClientBase: <%= @title %></title>
  <meta charset="utf-8">
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="keywords" content="" />
  <meta name="copyright" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
		<div class="row">
  		<div class="col-xs-6 col-sm-8 col-md-10 col-md-offset-1">
        <%= render 'layouts/flashes' %>
        <%= yield %>
  		</div>
  	</div>
	<!-- End Wrapper -->
  <footer class="row">
    <div id="footer">
     <%= render 'layouts/footer' %>
    </div>
  </footer>
   </div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
