<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MacByte Ltd - <%= content_for?(:title) ? yield(:title) : "Internal Client Management Tool" %></title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="copyright" content="" />
    <meta name="viewport" content="width=960" />
    
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    
<%= render 'layouts/stylesheets' %>
<%= csrf_meta_tag %>
<%= javascript_include_tag 'rails' %>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<%= javascript_include_tag 'application' %>

<link type="text/css" href="/css/smoothness/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

  </head>
	<body>
	<div id="header" class>
  	  <%= render 'layouts/header' %>
	</div><!-- end header -->

	<div id="wrapper">
    	<div id="content">
      		<div id="sidebar">
        		<%= content_for?(:sidebar) ? yield(:sidebar) : render(:partial => 'layouts/sidebar') %>
      		</div><!-- end sidebar -->
      		<div id="main" class="round">
        		<% flash.each do |key, value| %>
          		<div class="flash <%= key %>"><%= value %></div>
        		<% end %>
        		<%= yield %>
      		</div>
      		<!-- end main -->
    	</div>
    	<!-- end content -->
	</div>
	<!-- end wrapper -->	
  <div id="footer" class>
     <%= render 'layouts/footer' %>
  </div>
   <%= debug(params) if Rails.env.development? %>
	</body>
</html>