<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ClientBase: <%= @title %></title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="copyright" content="" />
    
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    
<%= csrf_meta_tag %>

<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

  </head>
  <body>
    <%= render 'layouts/header' %>
  	<!-- End Header -->
	<div id="global_sidebar">
  	<div id="global_nav">
      <ul>
        <li><%= link_to "Home", root_path %></li>
      <% if permitted_to? :manage, :companies %>
        <li><%= link_to "Companies", companies_path %></li>
        <li><%= link_to "People", people_path %></li>
        <li><%= link_to "Ad Hoc Support", adhoc_supports_path %></li>
		<li><%= link_to "Tasks", tasks_path %></li>
		<li><%= link_to "Invoices", invoices_path %></li>
      <% end %>
      <% if permitted_to? :create, :ios_quotes %>
        <li><%= link_to "Quotes", quotes_path %></li>
      <% end %>
      <% if permitted_to? :manage, :users %>
      <li><%= link_to "Admin", admin_path %></li>
      <% end %>
    <li><%= link_to "Help", help_path %></li>
    </ul>
    </div>
    <!-- End Navigation -->
	</div>
    <!-- End Global Sidebar -->
  	<div id="wrapper">

  		<div id="content">

        		<div id="main" class="round">
          		<% flash.each do |key, value| %>
            		<div class="flash <%= key %>"><%= value %></div>
          		<% end %>
          		<%= yield %>
        		</div>
        		<!-- End Main -->

      	</div>
      	<!-- End Content -->

  	</div>
  	<!-- End Wrapper -->	

    <div id="footer">
       <%= render 'layouts/footer' %>
    </div>

     <%= debug(params) if Rails.env.development? %>

  </body>
</html>